p {
    font-size: 15px;
    margin: 35px;
}
title {
    font-size: 25px;
}
img {
    height: 150px;
    padding: 5px;
    border: 2px solid #ddd;
}
.images-container {
    height: 250px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}   