p {
    font-size: 15px;
    margin: 35px;
}
title {
    font-size: 25px;
}
img {
    /* added box-sizing to add sizing predictability */
    box-sizing: border-box;
    display: block;
    width: 150px;
    /* padding: 5px;
    border: 2px solid #ddd; */
    margin: 10px;
}
.images-container {
    display: flex;
}
img {
    height: 150px;
}